variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE
  DOCKER_TLS_CERTDIR: "/certs"

build-push-docker-image-job:
  image: docker:latest
  only:
    refs:
        - main
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG ./risk-front-end
    - docker push $IMAGE_TAG
