.playerFrameBox{
    height: 15vh;
    margin-top:1rem;
    margin-right:1rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(98,98,98,0.53)
}

@media (max-width: 950px) {
    .playerFrameBox{
        background-color: rgba(0,0,0,0);
        border: none!important;
    }
}